# Node
node_modules
npm-debug.log

# Folders
*.egg-info
/.coverage
/static
htmlcov
__pycache__
jobsubmitter/tests/data/nm9omiv6

# Prefixes
celerybeat-schedule*

# Extensions
*.pyc
*.lprof

# Notebooks
.ipynb_checkpoints
notebooks/*/*

# Settings
.env
.env.*
tmp

