/* Loading module */

#notreadyyet p {
  padding-left: 35px;
  margin: 10px 0;
}

#notreadyyet {
  margin: 30px 0;
}

.wheeltext {
  line-height: 32px;
  height: 32px;
}

.leftcontent {
  float: left;
  width: 440px;
  margin-top: 20px;
}

/* Result table */
#resulttable {
  display: none;
}

/* For the checkmark icon */
#resulttable td {
  background-repeat: no-repeat;
  background-position: center center;
}

/* #resulttable td.td-status {
  font-size: 13px;
  line-height: 18px;
} */

#resulttable td a {
  display: block;
  height: 105%;
  width: 105%;
}

/* #resulttable tr.odd {
  background: #f6f6fa;
}

#resulttable tr.even {
  background: #ffffff;
} */

/* #resulttable tbody > tr:hover,
#resulttable tbody > tr:hover > td {
  background-color: #e5f5ff;
} */

/* .doneNO:hover {
  background: #017ad1 !important;
  background-color: #017ad1 !important;
}

#resulttable tbody.tr.even.done:hover,
#resulttable tbody.tr.even.doneNO:hover {
  background: #e5f5ff;
} */

/* #resulttable tr td span {
  height: 17px;
  display: inline-block;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-color: transparent;
  font-style: normal;
  margin: 4px;
} */

/* #resulttable tr td span span {
  border: 0;
  margin: 0;
  height: 0;
} */

/* #resulttable tr td span.hidden {
  display: none !important;
  border: 0;
  margin: 0;
  height: 0;
} */

/* #resulttable tr.done:hover td.tdp span,
#resulttable tr.doneNO:hover td.tdp span,
#resulttable tr.done:hover td.tdm span,
#resulttable tr.doneNO:hover td.tdm span {
  border-color: #3d3d3d;
} */

/* table.tablesorter {
  background-color: #cdcdcd;
  margin: 10px 0px 15px 0px;
  font-size: 13px;
  width: 100%;
  text-align: left;
} */

/* Decrease header font size */
.tablesorter-header-inner {
  font-size: 13px;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #c5e7f9;
  /* border: 1px solid #fff; */
  padding: 4px;
}

table.tablesorter tr .mono {
  font-size: 14px;
}

/* Extra selectors needed to override the default styling */
/* table.tablesorter tbody tr.odd td {
  background: #888;
  color: rgb(146, 70, 70);
}
table.tablesorter tbody tr.even td {
  background: #555;
  color: rgb(46, 6, 6);
} */

/* table.tablesorter thead tr .tablesorter-headerDesc,
table.tablesorter thead tr .tablesorter-headerSortDown,
.tablesorter-blue .tablesorter-headerDesc,
.tablesorter-blue .tablesorter-headerSortDown {
  background-color: #8dbdd8;
} */

/* table.tablesorter thead tr .header {
  background-image: url("../images/bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
} */

table.tablesorter tbody tr {
  background-image: none;
}

table.tablesorter tbody td {
  vertical-align: top;
}

table.tablesorter tbody td span {
  font-size: 13px;
}

/* table.tablesorter thead tr .headerSortUp {
  background-image: url("../images/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
  background-image: url("../images/desc.gif");
} */

#resulttable th {
  height: 25px;
}

#resulttable th.td-status {
  background-image: none;
}

#resulttable th.td-status .help.oob {
  margin-right: -13px;
}

#resulttable .td-status {
  /* status */
  width: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#resulttable .td-type {
  width: 145px;
}

#resulttable .td-template {
  width: 60px;
}

#resulttable .td-identity {
  width: 54px;
}

#resulttable .td-alignment {
  width: 69px;
}

#resulttable .td-model {
  width: 45px;
}

#resulttable .td-provean,
#resulttable .td-ddg,
#resulttable .td-el2 {
  width: 47px;
}

tr.error td.tdt span {
  white-space: nowrap;
}

.help {
  position: relative;
  top: 3px;
}

/* Table pager */

/* pager wrapper, div */
.tablesorter-pager {
  padding: 5px 5px 5px 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: #fff;
  width: fit-content;
}

/* pager wrapper, in thead/tfoot */
td.tablesorter-pager {
  background-color: #e6eeee;
  margin: 0; /* needed for bootstrap .pager gets a 18px bottom margin */
}
/* pager navigation arrows */
.tablesorter-pager img {
  vertical-align: middle;
  margin-right: 2px;
  cursor: pointer;
}

/* pager output text */
.tablesorter-pager .pagedisplay {
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  margin: 0;
  padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.tablesorter-pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.tablesorter-pager .disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}

/* Filter controls */

#filtcontrols {
  position: relative;
  width: 410px;
  float: right;
  margin-bottom: 30px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #6aadcf;
  border: 1px solid #8294c4;
  height: 170px;
}

.contentfiller {
  min-height: 170px;
}

div[id="filtcontrols"] {
  background: transparent !important;
}

#filtcontrols:before,
#filtcontrols:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
}

#filtcontrols:before {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f84b8), to(#6aadcf));
  background: -webkit-linear-gradient(top, #6aadcf, #4f84b8);
  background: -moz-linear-gradient(top, #6aadcf, #4f84b8);
  background: -ms-linear-gradient(top, #6aadcf, #4f84b8);
  background: -o-linear-gradient(top, #6aadcf, #4f84b8);
  background: linear-gradient(to bottom, #6aadcf 0%, #4f84b8 100%);
}

#filtcontrols:after {
  background-image: url("../images/paper2.png");
  opacity: 0.3;
  z-index: 1;
}

#filtcontrols,
#filtcontrols div,
#filtcontrols input,
#filtcontrols span {
  font-size: 13px;
  color: #fff;
}

#filtcontrols div,
#filtcontrols h3,
#filtcontrols input {
  z-index: 2;
}

#filtcontrols form {
  width: 100%;
  height: 100%;
}

#filtcontrols h3 {
  position: relative;
  margin: 0;
  padding: 14px 30px;
}

#filtcontrols #checkstatus,
#filtcontrols #checktype,
#filtcontrols #checkscore,
#filtcontrols #checkprotein {
  position: absolute;
}

#filtcontrols #checkprotein {
  top: 45px;
}

#filtcontrols #checkstatus,
#filtcontrols #checktype {
  top: 90px;
}

#filtcontrols #checkscore {
  top: 24px;
}

#filtcontrols #checkprotein input {
  width: 177px;
}

#filtcontrols #checkstatus,
#filtcontrols #checktype {
  width: 80px;
}

#filtcontrols #checkstatus,
#filtcontrols #checkprotein {
  left: 15px;
}

#filtcontrols #checktype {
  left: 115px;
}

#filtcontrols #checkscore {
  left: 212px;
}

#filtcontrols #checkscore div {
  margin-top: 1px;
  height: 19px;
}

#filtcontrols .inputtext {
  border-radius: 3px;
  height: 16px;
  background-color: #547697;
  padding-left: 3px;
  -moz-box-shadow: inset 0 5px 2px #354b60;
  -webkit-box-shadow: inset 0 5px 2px #354b60;
  box-shadow: 0 0 5px 2px #354b60 inset;
}

#filtcontrols .inputtext.num {
  width: 38px;
  margin: 0;
}

#filtcontrols span {
  display: inline-block;
  text-align: center;
}

#filtcontrols #reset {
  position: absolute;
  left: 30px;
  bottom: 15px;
  border-radius: 3px;
  font-size: 13px;
  padding: 0px 2px;
  background-color: #345677;
}

#filtcontrols #reset:hover {
  background-color: #446687;
}

#checkscore span.lefttext {
  text-align: left;
  padding: 0 4px 0 6px;
}

#checkscore span.midtext {
  width: 67px;
}

#checkscore span.righttext {
  text-align: right;
  padding: 0 6px 0 4px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  padding-left: 18px;
  background-image: url("../images/check-off15.png");
  background-repeat: no-repeat;
  background-position: left center;
}

input[type="checkbox"]:checked + label {
  background-image: url("../images/check-on15.png");
}

/* Download table */

#dltable {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  margin-bottom: 10px;
}

#dltable td {
  /*width: 180px;*/
  height: 20px;
  padding: 10px;
}

#dltable td a {
  display: none;
}

#dltable td .desc,
#dltable td .desc span {
  color: #999;
  font-size: 13px;
}

#dltable td.dlleft {
  background: #e1f0f9;
  border-right: 1px solid #00a2e8;
  color: #3d3d3d;
  width: 150px;
}

#dltable tr:hover td {
  background: #c5e7f9;
}

/* Tooltips */

.tooltip .img {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 16px;
}

.tooltip .img.doneNO {
  background-position: 3px center;
}

.tooltip .img.running {
  background-position: 1px center;
}

.tooltip .img.queued {
  background-position: 3px center;
}

.tooltip .img.error {
  background-position: 3px center;
}

.tooltip #rerun {
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  padding: 0 2px;
}

.tooltip .click2 {
  font-style: italic !important;
}
