<!DOCTYPE html>
<html lang="en">

<head>
  <title>ELASPIC</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta charset="utf-8">

  {% spaceless %}

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/base.css" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/font-awesome.min.css" media="all" />
  
  {% if current == "sIn" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/2dprotein.css" media="all" />
  {% elif current == "result" %}
  <link rel="stylesheet" href="{{ STATIC_FOLDER }}css/theme.blue.min.css" integrity="sha512-jJ9r3lTLaH5XXa9ZOsCQU8kLvxdAVzyTWO/pnzdZrshJQfnw1oevJFpoyCDr7K1lqt1hUgqoxA5e2PctVtlSTg==" />
  <link rel="stylesheet" href="{{ STATIC_FOLDER }}css/jquery.tablesorter.pager.min.css" integrity="sha512-TWYBryfpFn3IugX13ZCIYHNK3/2sZk3dyXMKp3chZL+0wRuwFr1hDqZR9Qd5SONzn+Lja10hercP2Xjuzz5O3g==" />
  {% elif current == "result2" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/2dprotein.css" media="all" />
  {% endif %}
  {% if current %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_FOLDER }}css/{{ current }}.css" media="all" />
  {% endif %}
  
  <!-- Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js" integrity="sha512-VjRpiWhUqdNa9bwBV7LnlG8CwsCVPenFyOQTSRTOGHw/tjtME96zthh0Vv9Itf3i8w4CkUrdYaS6+dAt1m1YXQ==" crossorigin="anonymous"></script>
  {% if current == "sIn" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js" integrity="sha512-3fMsI1vtU2e/tVxZORSEeuMhXnT9By80xlmXlsOku7hNwZSHJjwcOBpmy+uu+fyWwGCLkMvdVbHkeoXdAzBv+w==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/jquery.ajaxfileupload.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/d3_force_labels.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/2dprotein.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/in.js"></script>
  {% elif current == "mIn" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js" integrity="sha512-3fMsI1vtU2e/tVxZORSEeuMhXnT9By80xlmXlsOku7hNwZSHJjwcOBpmy+uu+fyWwGCLkMvdVbHkeoXdAzBv+w==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/jquery.ajaxfileupload.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/2dprotein.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/in.js"></script>
  {% elif current == "result" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/extras/jquery.tablesorter.pager.min.js" integrity="sha512-y845ijdup9lDunrcSRQAlFdQICHVhkB5UNguWRX8A3L+guxO7Oow0poojw0PLckhcKij++h85bnyro80fjR9+A=="></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
  {% elif current == "result2" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha512-oJp0DdQuQQrRsKVly+Ww6fAN1GwJN7d1bi8UubpEbzDUh84WrJ2CFPBnT4LqBCcfqTcHR5OGXFFhaPe3g1/bzQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.2.1/cytoscape.min.js" integrity="sha512-jscsdtMdd+gpobUEpU0OEe5GBOzFpnL7qWXz17OHmrVb/5Rkb2fQMbAdOS6ydJzeZ+QTFdLeinHJ3d8/FX/LRA==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}jsmol/JSmol.min.nojq.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}jsmol/js/JSmolThree.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}jsmol/js/JSmolGLmol.js"></script>
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/2dprotein.js"></script>
  {% endif %}
  {% if current %}
  <script type="text/javascript" src="{{ STATIC_FOLDER }}js/{{ current }}.js"></script>
  {% endif %}

  {% endspaceless %}

  {% block headscript %}
  {% endblock %}
</head>

<body>
  <div id="container">
    <div id="header_block">
      <div id="header">
        <a href="/" id="homelink">
          <img src="/static/images/p2t.png" id="structure" />
          <!--<div id="logo">ELASPIC</div>
            <div id="title">Ensemble Learning Approach for Stability <br />Prediction of Interface and Core mutations</div>-->
          <img src="/static/images/logotitle{{ SITE_NAME}}.png" id="mutationModeller" alt="{{ SITE_NAME}}" />
        </a>
        <div id="menu">
          <a href="/" {% ifequal type 'input' %} class="active" {% endifequal %}>Home</a><span></span>
          <a href="/help/" {% if help %} class="active" {% endif %}>Help</a><span></span>
          <a href="/reference/" {% if reference %} class="active" {% endif %}>Reference</a><span></span>
          <a href="/contact/" {% if contact %} class="active" {% endif %}>Contact</a>
        </div>
      </div>
    </div>
    <div id="body">
      {% if debug %}
      <!--
          <span id="log"></span>, <span id="error"></span>
          -->
      {% endif %} {% block body %} {% endblock %}

    </div>
    <div id="footer_block">
      <div id="footer">
        <div id="copy">
          &copy; 2016 &#8211;
          <a target="_blank" href="http://www.kimlab.org/" class="click">
                        Kim Lab
                      </a> &#8211;
          <a target="_blank" href="http://tdccbr.med.utoronto.ca/" class="click">
                        Donnelly Centre
                      </a> &#8211;
          <a target="_blank" href="http://www.utoronto.ca/" class="click">
                        University of Toronto
                      </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
